{
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"trailingComma": "none",
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"proseWrap": "always",
	"printWidth": 200
}
